// Common styling for app
.accent--color {
  color: #A2E0D2 !important
}
.accent--background {
  background-color: #A2E0D2 !important
}

.secondary--color {
  color: #2E73B3 !important
}
.secondary--background {
  background-color: #2E73B3 !important
}

.primary--color {
  color: #FF7D75 !important
}
.primary--background {
  background-color: #FF7D75 !important
}

.background--background {
  background-color: #FAFDFF !important
}